body {
  margin: 0;
  padding: 40px;
  font-family: sans-serif;
  transition: all 0.4s;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 6px;
}

button:hover {
  background-color: red;
}
